.vr.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.vr-viewport {
  position: relative;
  overflow: hidden;
}
.vr-cube {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.vr-cube-face {
  position: absolute;
  background-size: contain;
}
a.vr-marker {
  display: block;
  position: absolute;
}

/*
 * debug style
 */

.vr.debug a.vr-marker {
  background: rgba(0, 0, 0, 0.5);
}
